html, body {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #f7f7f7;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;

  form {
    padding: 30px;
    margin: 15px;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 8px;
    background-color: #eee;
  }
}

div[class^="login-"] {
  label {
    display: block;
    float: none;
    clear: both;
    font-size: 1.5rem;
  }

  input {
    border: 1px solid #d7d7d7;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.2rem;
  }
  margin-bottom: 15px;
}

.login-submit {
  display: flex;
  justify-content: space-around;
  align-items: stretch;

  button[class^="btn-"] {
    display: inline-block;
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #ccc;

    &.btn {
      &-submit {
        color: #fff;
        font-size: 1.2rem;
        text-transform: uppercase;
        background-color: #00be00;
        border-color: #006900;
      }
      &-cancel {
        font-size: 1.1rem;
        color: #a0a0a0;
        background-color: #fcfcfc;
      }
    }
  }
}

.welcome {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: all 2s ease;
  
  &.hide {
    display: none;
  }
}

.loading {
  display:  none;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-transform: uppercase;
  color: #132baf;
  transition: all 2s ease;
  &.show {
    display: flex;
  }
}
